<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail d'un article</title>
</head>
<body>

    <article>
        <h1>{{ article.title }}</h1>

        {% for tag in article.tags.all %}
            <small>#{{ tag.name }}</small>
        {% endfor %}

        <p><img src='{{ article.image }}'/></p>
        <p>{{ article.text }}</p>     
    </article>

    <a href='/'>Retour à la liste des articles</a>

</body>
</html>