<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body>
    <h1>Les articles</h1>

    {% if articles %}

        {% for article in articles %}

            <article class='article'>
                <h2>{{ article.title }}</h2>
                <a href='/{{ article.id }}/'>
                    Voir l'article
                </a>
            </article>

        {% endfor %}

    {% else %}
        <p>Aucun article n'a été trouvé.</p>

    {% endif %}
</body>
</html>